h1 {
    display: flex;
    justify-content: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.skill-card {
    background-color: #f0f0f0;
    overflow: hidden;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 10px;
    padding: 20px;
    width: 200px; 
    text-align: center; 
}

.skill-card h3 {
    margin: 0; 
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}

.skill-card p {
    margin: 5px 0 0; 
}
